body{
    font-family: raleway;
    font-size: 0.8em;
}

@font-face {
    font-family: raleway;
    src: url('../src/Raleway-Regular.ttf');
}

#navbar ol {
    list-style-type: none;
    padding-left: 0;
}

.navItem {
    display: inline-block;
}

#heber, #act {
    align-self: flex-end;
}

#listItems {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a:hover {
    border-top: 1px solid #0065FC ;
}

a {
    padding-top: 1em;
    text-decoration: none;
    color:#0065FC;
    margin-right: 2em;

}

p {
font-size: 90%;
}

#bouton {
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
    
}



#research {
    border : 1px solid lightgray;
    border-radius: 20px 15px 15px 20px;
    width: max-content;
    display: flex;
}

.filtres{
    display: inline-flex;
    border : 1px solid lightgray;
    border-radius: 20px 20px 20px 20px;
    width: max-content;
    margin-top: 0em;
    margin-left: 3em;
    height: 2em;
    justify-content: center; /*Centrer horizontalement grace a flex box*/
    align-items: center; /*Centrer verticalement grace a flex box*/

}

.filtres:hover{
    background-color: lightgray; 
}

.icon, .iconInfo {
    color: #0065FC;
    font-size: 1em;
}

#pin, #graph {
    color: black;
}

#graph {
    
    margin-left: 4em;
}

.containIcon, .containIconInfo {
    width: 2em;
    height: 2em;
    background-color: lightgray;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    justify-content: center; /*Centrer horizontalement grace a flex box*/
    align-items: center; /*Centrer verticalement grace a flex box*/
}

input {
    border: 0;
}

.label {
    font-weight: bold;
}

#blockFiltre{
    position: relative;
    flex-direction: column;
    
}

#labelFiltres{
   position: relative !important;
   display: block;
}

#info {
    display: inline-flex;
    width: max-content;
    height: 2em;
    justify-content: center; /*Centrer horizontalement grace a flex box*/
    align-items: center; /*Centrer verticalement grace a flex box*/
    margin-top: 1em; 
   
}

h1 {
    font-size: 1.2em;
    margin-left: 1em;
    margin-bottom: 1.5em;
}

.disbaled{
    color: grey !important;
}

.cardHebergement{
    border:white solid 2px;
    width: max-content;
    border-radius: 20px 20px 20px 20px;
    margin-right: 2%;
    margin-bottom: 2em;
    margin-left: 1%;
    background-color: white;
    box-shadow: 6px 6px 5px lightgray;
}

.imageHebergement {
    border-radius: 20px 20px 0px 0px;
    width: 23em;
    height: 8.5em;
    object-fit: cover;
}

h2{
    font-size: 1em;
}

.cardHebergement > p, h2, .score {
    width: max-content;
    margin-left: 0.5em;
    margin-top: 0;
    margin-bottom: 0.3em;
}

.descBestSeller > p, h2 {
    width: max-content;
    margin-left: 0.5em;
    margin-top: 0;
    margin-bottom: 0.3em;
}

.descBestSeller > h2 {
    width: 10em;
    word-wrap: break-word;
    white-space: normal;
}

#blocHebergement{
    flex-direction: column-reverse;
}

.conteneur {
    display: flex;
}

.conteneurList {
    flex-direction: column;
}

#herbegementGlobal {
    width: 320px;
    padding: 1em;
    background-color:#F2F2F2;
    margin-top: 1em;
    border-radius: 20px 20px 20px 20px;
}

.imagePopulaire {
    width: 8em;
    height: 9em;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    
}

.descBestSeller{
    width: max-content;
}

.populaires{
    border-radius: 20px 20px 20px 20px;
    border: white solid 2px;
    margin-bottom: 2em;
    background-color: white;
    width: 23em;
    align-items: center;
    box-shadow: 6px 6px 5px lightgray;
    display: flex;
}

.conteneur2 {
    background-color:#F2F2F2;
    border-radius: 20px 20px 20px 20px ;
    width: max-content;
    margin-left: 0em !important;

}

#activites{
    flex-direction: column;
    margin-top: 2em;
}

.activitesTall, .activitesSmall {
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    width: max-content;
    box-shadow: 6px 6px 5px #F2F2F2;
}

.photoSmall, .photoTall {
    width: 23em;
    height: 8.5em;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;

}

#firstActivite{
    margin-bottom: 1.5em !important;
}

.activitesTall, .activitesSmall{
  margin-left: 2.5em !important;
  
}

#activitesMarseille {
    margin-top: 2em;
    margin-left: 4em;

}

.footer{
    background-color:lightgray;
    display: flex;
    flex-direction: column;
    
}

.divfooter{
    margin-right: 10em;
    margin-left: 5em;
}